/* box-sizing guarantees that we never overflow big containers */

* {
	box-sizing: border-box;
}

/* clear body styles to standardize layout across devices */

body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* nav styling */

nav {
	background-color: rgb(37, 4, 37);
	width: 100%;
	display: flex;
	justify-content: flex-end;
	letter-spacing: 0.1em;
}
.navLinks {
	display: flex;
	align-items: center;
	justify-content: center;
	height: min-content;
}
.navLink {
	color: white;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}
.navLink i {
	margin-right: 0.5em;
}
.navLink:hover {
	color: lightpink;
	box-shadow: rgba(255, 255, 255, 255, 0.5);
	cursor: pointer;
}

/* header styling */

h2 {
	letter-spacing: 1.2px;
}

/* image styling */

img {
	border-radius: 5px;
}

/* form styling */

section,
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
form {
        width: 90%;
        margin: 0 auto;
},
form input,
form textarea {
	border: 1px solid lightgrey;
	padding: 1em;
	width: 100%;
	margin-bottom: 2em;
	border-radius: 5px;
	font-size: 16px;
}
form label {
	width: 100%;
	text-align: left;
	opacity: 0.5;
	font-size: 14px;
	margin-bottom: 0.5em;
}
form textarea {
	height: 200px;
	resize: none;
	overflow-y: scroll;
	padding: 1em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form button {
	border: transparent;
	padding: 1em;
	width: 100%;
	border-radius: 5px;
	font-size: 18px;
}
form button:hover {
	background-color: darkgrey;
	color: white;
	cursor: pointer;
}

/* link styling */

li {
	margin: 1em;
}
